.cover {
    color: #FFF;
    background-color: #263d36;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    text-align: center;
}

.title {
    margin: 0;
    padding: 0;
    /*height: 100%;*/
    padding-top: 12vh;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.title a {
    color: #FFF;
    font-size: 2rem;
    text-decoration:none;
}
main{
    margin: 0 auto;
    padding: 4em 1em;
    max-width: 50em;
}

/*main h2::before {
    color: #00A388;
    content:"## ";
}
main h3::before {
    color: #00A388;
    content:"### ";
}*/

.read-more-link {
    /*text-align: right;*/
}

footer {
    text-align: center;
}

/*blockquote {
    background:#f9f9f9;
    border-left:10px solid #ccc;
    margin:1.5em 10px;
    padding:.5em 10px;
    quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
    color:#ccc;
    content:open-quote;
    font-size:4em;
    line-height:.1em;
    margin-right:.25em;
    vertical-align:-.4em;
}
blockquote p {
    display:inline;
}*/
