<div class="post">
    <h1 class="post-title" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <span class="post-date"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
    <section itemprop="entry-text">
        {{ if .Truncated }}
        {{ .Summary }}
        {{ else }}
        {{ .Content }}
        {{ end }}
    </section>
    {{ if .Truncated }}
    <div class="read-more-link">
        <a href="{{ .RelPermalink }}">阅读全文</a>
    </div>
    {{ end }}
</div>
